*{
    padding: 0;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: rgb(215, 215, 215);

}

.header{
    display: flex;
    width: 100%;
    background-color: rgb(96, 128, 255);
    box-shadow: 0 8px 16px lightgrey;
}

.active
{
    color:#000000 !important;
}
.amenu
{
    color:#AAAAAA;
    font-family:tahoma;
    font-size:25px;
    padding:10px;
    font-weight:bold;
}

.logo{
    margin: 20px;
    width: 150px;
    border-radius: 16px;

}

.logo img{
    border-radius: 16px;
    width: 100%;
}



#profile{
    font-size: 40pt;
}

.isi p{
    padding-top: 20px;
}

.value{
    color: red;
}

.isi{
    padding-top: 20px;
    display: flex;
    gap: 45px;
    font-size: 15pt;
}

.profilepicture{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.pictflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menuflex{
    width:1400px;
    margin:auto;
}

.menu{
    margin-right:20px;
    width:20%;
    float:left;
}

.content{
    display:flex;
    float:left;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin-top:20px;
    margin-left:5%;
    padding: 10px;
    border-radius:10px;
}

.clogout
{
    color:#7ccdf1;
    font-family:tahoma;
    float:left;
    font-size:20px;
}
.ilogout
{
    float:left;
    height:20px;
    margin-left:10px;
    margin-top:2px
}
.tatas
{
   font-family:tahoma;
   padding:10px;
   font-family:20px;
   color:#FFFFFF;
   font-weight:bolder;
   float:left;
   background-color:#0096e7;
   border-radius: 10px;
}
.cname
{
    background-color:#000000;
    color:#f8f41c;
    padding:10px;
    width:fit-content;
    font-weight: bold;
    position: relative;
    top:-450px;
    font-size:20px;
}
.cenemy
{
    clear:both;
    margin-top:10px;
    border-radius:10px;padding:10px;background-color:#c8f6c5;margin-right:10px;width:200px;float:right;
}
.cself
{
    clear:both;
    margin-top:10px;
    margin-left: 10px;
    border-radius:10px;padding:10px;background-color:#ffffff;margin-right:10px;width:200px;float:left;
}
.tbutton
{
    border:0px;
    padding:10px;
    border-radius:10px;
    background-color:#0098f9;
    color:#FFFFFF;
    font-size:20px;
    width:100%;
}
.tjudul
{
    font-family:tahoma;
    font-size:20px;
}
.tjudulf
{
    font-family:tahoma;
    font-size:50px;
    color:#0098f9;
}
.iptDate
{
    border: 1px #0098f9 solid;
    border-radius: 5px;
}
.cjtgl
{
    padding-left:10px;padding-right: 10px;color:#AAAAAA;text-align: center;
}
.cjtgl2
{
    padding-left:10px;padding-right: 10px;text-align: center;
}
.lbl
{
    margin-left:40px;
    color:#AAAAAA;
    margin-top: 30px;
    font-family: tahoma;
}

.plabel
{
    color:#97cbea;
    font-family: tahoma;
}

.plabel2
{
    color:#AAAAAA;
    font-family: tahoma;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
}

.countdownInformation{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
}